.tab-content {
    padding: 16px;
  }
  
  h2 {
    margin-bottom: 16px;
  }
  
  mat-tab-group {
    margin-top: 16px;
  }
  .tab-content {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    text-decoration: none;
    color: inherit;
  }
  