/* user-list.component.css */
.user-list-container {
  padding: 20px;
  height: 100%;
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.filters-container {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  gap: 16px;
  flex-wrap: wrap;
}

.filters-group {
  display: flex;
  gap: 16px;
  flex: 1;
  flex-wrap: wrap;
  align-items: center;
}

.filter-field {
  min-width: 200px;
  margin: 0;
}

.add-button {
  height: 56px;
  white-space: nowrap;
}

.table-responsive {
  width: 100%;
  overflow-x: auto;
  flex: 1;
  min-height: 0;
}

table {
  width: 100%;
}

.mat-column-id {
  width: 70px;
}

.mat-column-is_active {
  width: 80px;
  text-align: center;
}

.mat-column-actions {
  width: 100px;
  text-align: center;
}

.action-buttons {
  display: flex;
  justify-content: center;
  gap: 8px;
}

.active {
  color: #4caf50;
}

.inactive {
  color: #f44336;
}

.filter-action-button {
  height: 56px;
  white-space: nowrap;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #ffffff; /* Fondo blanco */
  border: 1px solid rgba(0, 0, 0, 0.12); /* Borde similar */
  color: rgba(0, 0, 0, 0.87); /* Color del texto */
  font-weight: 500; /* Peso del texto */
  border-radius: 4px; /* Bordes redondeados */
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.1); /* Sombra ligera */
  margin-bottom: 22px;
}

.filter-action-button:hover {
  background-color: rgba(0, 0, 0, 0.04); /* Fondo al pasar el cursor */
}

.clear-button {
  height: 56px;
  min-width: 200px; /* Asegurar que el ancho coincida */
  display: flex;
  align-items: center;
  justify-content: center;
}

/* Responsive styles */
@media screen and (max-width: 960px) {
  .filters-group {
    flex-direction: column;
    align-items: stretch;
  }

  .filter-field {
    width: 100%;
  }

  .clear-button,
  .add-button {
    width: 100%;
  }

  .mat-column-id,
  .mat-column-surname {
    display: none;
  }
}

@media screen and (max-width: 600px) {
  .mat-column-email {
    display: none;
  }
}
